@charset "utf-8";
/* CSS Document */

body {
	margin: 0 auto;
	width:100%;
	background-color:#eeeeee;
}

.footer {
	text-align:center;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:40px;
}

#container {
	width:300px;
	margin: 0 auto;
	}
	
.word-bubble {
	width:300px; 
	height:180px; 
	background-image: url("../images/word-bubble.png");
	background-repeat:no-repeat; 
	padding-top:24px; 
	padding-left:28px; 
	z-index:1000;
	margin-top:10px;
	}

.styled {
	font-size:30px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	background-color:transparent;
}

.you {
	font-size:30px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left:90px;
	width:150px;
	margin-bottom:4px;
}

h1 {
	margin-top:40px;
	font-size:20px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

p {
	margin-top:10px;
	font-size:16px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

.luccan-image {
	width:100%; 
	border:none; 
	margin-top:-45px;
}

.button {
	margin-top:-4px;
}

input:focus {
	outline:0;
	 -webkit-user-select: none;
    -moz-user-select: -moz-none;
	 -webkit-user-select: none;
    -moz-user-select: -moz-none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
.share {
	width:300px; 
	display:block; 
	margin:0 auto; 
}
.share-cell {
	float:left; 
	display:block; 
	width:50%;
}

.clear {
	clear:both;
	height:20px;
}
